@font-face {
    font-family: 'Buenard';
    font-style: normal;
    font-weight: 400;
    src: local('Buenard'), local('Buenard-Regular'), url(http://themes.googleusercontent.com/static/fonts/buenard/v4/duJQeQ_GjW4qq4zzf0vRKw.woff) format('woff');
}

@font-face {
    font-family: 'Buenard';
    font-style: normal;
    font-weight: 700;
    src: local('Buenard Bold'), local('Buenard-Bold'), url(http://themes.googleusercontent.com/static/fonts/buenard/v4/8T0adwz_RAtKrxbccQmEFBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body {
    background-color: #f5f5f5;
    color: #333;
    font: 18px "Buenard", "Georgia", "Times New Roman", serif;
    font-size: small;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:link {
    color: #B61A1A;
}

a:visited {
    color: #B61A1A;
}

a:hover {
    color: #333;
}

a:active {
    color: #B61A1A;
}

.branding img {
    width: 5.5em;
    padding: .1em;
    height: 110px;
    margin-bottom: 20px;
    -webkit-background-size: 485px;
    -moz-background-size: 485px;
    -o-background-size: 485px;
    background-size: 485px;
    -webkit-box-shadow: 0 0 0 1px #ab423f, 0 0 0 3px #f5f5ef, 0 0 0 6px #ab423f, 0 0 0 8px #f5f5ef;
    -moz-box-shadow: 0 0 0 1px #ab423f, 0 0 0 3px #f5f5ef, 0 0 0 6px #ab423f, 0 0 0 8px #f5f5ef;
    box-shadow: 0 0 0 1px #ab423f, 0 0 0 3px #f5f5ef, 0 0 0 6px #ab423f, 0 0 0 8px #f5f5ef;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.site {
    font-size: 155%;
    text-align: center;
    width: 95%;
    max-width: 33em;
    margin: 0.6em auto 2em;
    line-height: 1.4em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    margin-top: 5%;
    line-height: 3em;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 1.6em;
}

header a {
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    color: #B61A1A;
}

header h1.title {
    font-size: 300%;
    display: inline-block;
    text-align: center;
}

.site .meta {
    color: #666;
}

footer {
    font-size: 80%;
    color: #666;
    border-top: 1px dotted #ddd;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
}